body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* our style */
.form-control , .table-dark{
  margin: 0 auto;
}

.table-dark th{
  border: none;
}

.table-dark{
  width: 97%;
  border-radius: 7px;
}

.form-control {
  width: 50%;

}

.empty {

  color: red;
}


